.botao {
  background-color: #6278f7;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 32px 0;
}

.botao:hover {
  color: #95ffd4;
}
